#ctlogin {
    text-align: center;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    padding-top: 5px;
    align-content: center;
    margin: auto auto auto auto;

}

.itemmov {
    border-bottom: 1px solid black;
    height: 100px;
    align-content: center;

}
h2{
	margin: auto auto;
	text-align:center;
	align-items: center;
}
.qrcodebox {
    text-align: center;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    padding-top: 5px;
    align-content: center;
    margin-left: 30px;
    margin-top: 40px;
}

#qrcode {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#chavepix {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.infos {
    text-align: left;

    width: 600px;
    height: 400px;
    padding-top: 5px;
    padding-left: 10px;
    align-content: center;
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.itinfo {
    text-align: left;
    border: 1px solid black;
    width: 400px;
    height: 20px;
}

#cttatble {
    border: 2px solid red;
    width: 90%;
    height: 100px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: auto auto;
    display: flex;

}

.itemtable:hover {
    border: 1px solid red;
    background-color: rgb(248, 120, 120);
}

.itemtable {

    background: rgb(255, 255, 255);
    height: 99px;
    padding-left: 10px;
    text-align: center;
    line-height: 50px;
}

.cartaobox {
    text-align: left;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    align-content: center;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10%;
}

#ctbody {
    display: flex;
    width: 90%;

}

.passitem {
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: 300px;
    padding-top: 5px;
    margin-top: 5%;
    margin-left: 10%;
}

#ctbox {
    text-align: left;
    border: 2px solid black;
    width: 60em;
    height: 300px;
    padding-top: 20px;
    padding-left: 10px;
    align-content: center;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5%;
}

#ctfoto {
    text-align: center;
    border: 2px solid black;
    width: 250px;
    height: 300px;
    padding-top: 5px;
    margin-top: 5%;
    margin-left: 10%;
}

#onze {
    text-align: center;
    align-content: center;
    margin: 50px 20px 50px 50px;

}

.btnnav {
    background-color: white;
    border: 0;
    margin: 0;
}

.row {
    height: 60px;
    width: max-content;
}

#logo {
    position: absolute;
    top: -1px;
    left: 0;
    border-radius: 5px;
    border: 2px solid white;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    max-height: 38px;
    width: auto;
    padding: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    transition: 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}